body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
}
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}
svg {
    position: absolute;
    display: block;
    margin: 0;
}
header {
    text-align: center;
    position: absolute;
    width: 100vw;
    z-index: 1001;
    bottom: 45px;
}
a {
    /* text-decoration: none; */
    color: #01206a;
}
#gradient {
    position: absolute;
    background: linear-gradient(to top, #ffffff, transparent);
    width: 100vw;
    height: 220px;
    z-index: 1;
    pointer-events: none;
    bottom: 0;
}
#d3-canvas {
    cursor: grab;
}
#note {
    position: absolute;
    left: calc(200vw - 300px);
    top: 120px;
    background-color: #f6d887;
    width: 250px;
    padding: 10px;
    display: none;
}
.tooltip {
    position: absolute;
    visibility: hidden;
    background-color: #f9f9f9;
    border: 1px solid #d3d3d3;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    pointer-events: none;
}



/* Header----------------------------- */
nav {
    width: 210px;
    margin: 0 auto;
    display: flex;
    background-color: #01206a;
    border-radius: 20px;
    color: #fff;
    padding: 10px;
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}
@media (max-width: 900px) {
    nav {
        width: 210px;
    }
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
nav li {
    display: inline-block;
}
nav a {
    color: #fff;
    background-color: #01206a;
    font-weight: 600;
    text-decoration: none;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    border: solid 2px transparent;
    transition: background-color 0.3s, border-color 0.3s;
    z-index: 2000;
}
nav a.active {
    background-color: #ffffff;
    border: solid 2px white;
    color: #01206a;
}
nav a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
}
/* #nav-getintouch {
    color: #f6d887;
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    right: 40px;
    cursor: pointer;
}
#nav-getintouch:hover {
    text-decoration: underline;
    border: solid 2px transparent;
} */


/* Main content----------------------------- */
main {
    display: flex;
    width: 300vw;
    height: 100vh;
    transition: transform 0.5s ease;
    will-change: transform;
}
#logo {
    position: absolute;
    height: 1.4rem;
    left: 25px;
    z-index: 1003;
}
.panel {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: flex-start !important;
    font-size: 2rem;
    overflow-x: hidden;
}
#about {
    height: 100vh;
    display: flex;           
    flex-direction: column;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
.chapter {
    display: flex;
    flex-direction: column;
    flex: 0 0 100vh;
    scroll-snap-align: start; 
    align-items: center;
    justify-content: flex-start;
    justify-items: center;
}
.intro-text {
    min-width: 600px;
    width: 40vw;
}
#intro-mission-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70vw;
    max-width: 650px;
    margin-bottom: 100px;
}
@media (max-width: 900px) {
    .chapter h1 {
        font-size: 1.5rem !important;
        margin-top: 30px;
    }
    .intro-text {
        min-width: 400px;
    }
    .intro-text h2 {
        font-size: 0.9rem;
    }
    #intro-mission-container {
        flex-direction: column;
        width: 75%;
        gap: 0px;
    }
    .intro-mission h2 {
        font-size: 0.9rem;
        margin-bottom: 0;
    }
}
.intro-mission {
    background-color: #f1f1f1;
    margin-bottom: 5px;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}
#submit {
    justify-content: center;
}
footer {
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 12px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #01206a;
    font-size: 0.8rem;
    padding: 10px 0;
    z-index: 1000;
}



#network-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 100vw; 
    display: flex;
    flex-direction: row;
    pointer-events: none;
}
#card-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 600px;
    bottom: 45px;
    left:  45px;
    z-index: 2000;
    transition: max-height 0.3s ease;
    overflow-y: hidden;
    pointer-events: auto;
    overflow-x: hidden !important
}

#card-collapsible {
    max-height: 500px;
    transition: max-height 0.3s ease;
    overflow-x: hidden !important
}
#card-collapsible.collapsed {
    max-height: 0;
}
#card-toggle {
    background-color: #01206a;
    margin: 0;
    padding: 3px;
    padding-left: 9px;
    padding-right: 9px;
    font-family: Inter, sans-serif;
    font-size: 0.9rem;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
}
#cardName {
    margin-top: 0;
    border-top-left-radius: 0;
}


@media (max-width: 900px) {
    #network-container {
        justify-content: center;
        align-items: flex-end;
        flex-direction: row-reverse;
        height: 300px;
        bottom: 0;
        gap: 10px;
        pointer-events: auto;
    }
    #card-container {
        position: relative !important;
        bottom: 90px;
        left: 0;
    }
    #card-container.collapsed {
        max-height: 106px;
    }
    .legend-container-shell {
        position: relative !important;
        bottom: 90px !important;
        right: 0 !important;
        gap: 0 !important;
        border: #01206a 2px solid;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(5px) !important;
        z-index: 2000 !important;
        overflow-x: hidden !important;
        overflow-y: hidden !important;
    }
    .legend-container {
        height: 60px;
        gap: 0 !important;
        background-color: transparent !important;
        backdrop-filter: none !important;
        box-shadow: none !important;
    }
    #cardName {
        width: 162px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
        /* border-bottom-right-radius: 0;
        border-bottom-left-radius: 0; */
    }
    #node-name {
        padding-top: 10px;
        font-size: 1rem;
    }
    #node-title {
        padding-top: 3px;
        font-size: 0.85rem;
    }
    .tag-container {
        margin-top: 7px !important;
        margin-bottom: 8px !important;
    }
    .tag {
        font-size: 0.6rem !important;
    }
    #cardInfo {
        width: 182px;
        height: 250px;
        margin-top: 3px;
        /* border-top-right-radius: 0;
        border-top-left-radius: 0; */
        /* border-top: none; */
    }
    .info-container {
        height: 195px !important;
        margin-right: 10px !important;
    }
    #containerBio {
        margin-right: 10px !important;
    }
    .infoTitle {
        padding-left: 13px !important;
        font-size: 0.7rem !important;
    }
    .panelContent {
        margin-left: 10px !important;
        margin-right: 10px !important;
        margin-bottom: 5px !important;
        font-size: 0.65rem !important; 
    }
    #panelContentConnectionsBadges {
        display: flex;
        flex-wrap: wrap;
    }
    
    .node-text-container p {
        font-size: 0.8rem;
    }
    .node-text {
        font-size: 0.65rem !important; 
    }
    .tab {
        font-size: 0.7rem !important;
        font-weight: 600;
        color: #01206a;
        cursor: pointer;
        flex: 1;
        text-align: center;
        padding-left: 9px !important; 
        padding-right: 9px !important;
    }
}
#card-container-horizontal {
    display: flex;
    justify-content: center;
    width: 85vw;
    flex-wrap: wrap; 
    gap: 10px;
    margin-bottom: 150px;
}
.card, .card-bio {
    border-radius: 10px;
    margin-top: 10px;
    width: 300px;
    backdrop-filter: blur(15px);
}
.card {
    border:  solid #01206a;
    background-color: rgba(255, 255, 255, 0.75);
}
.card-bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    min-width: 200px;
    width: 240px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.07);
}



.profilePic {
    width: 65%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #01206a;
    margin-top: 30px;
    overflow: hidden;
}
.profilePic img {
    object-fit: cover;
    width: 100%;
}






/* d3 controls----------------------------- */
#controls {
    position: absolute;
    bottom: 275px;
    left: calc(200vw - 110px);
    display: flex;
    flex-direction: column;
}
#controls button {
    padding: 0;
    width: 35px;
    height: 35px;
    text-align: top;
    font-size: 1.5rem;
    font-family: Inter, sans-serif;
    font-weight: 400;
    color: #ffffff;
    cursor: pointer;
    /* background-color: rgba(223, 228, 232, 0.75); */
    background-color: #01206a;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    line-height: 1;
    transition: background-color 0.3s ease, color 0.3s ease;
}
#controls button:hover {
    background: white;
    color: #01206a;
    border: #01206a solid 2px;
}


#guide-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2999;
    pointer-events: none; 
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.1s ease, visibility 0.3s ease;
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(10px);
}
.guide-box {
    width: 28%;
    min-width: 520px;
    display: inline-flex;
    align-items: left;
    margin-bottom: 10px;
}
.guide-icon {
    height: 40px;
    margin: 0;
    padding-right: 25px;
    padding-top: 8px;
}
#guide {
    z-index: 3000;
    margin-bottom: 15px;
}
#zoomIn, #zoomOut {
    z-index: 1000;
}
#zoomIn {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; 
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom: none;
    margin-bottom: 2px;
}
#zoomOut {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; 
    border-top-left-radius: 4px;
    border-top-right-radius: 4px; 
    border-top: none;
}
@media (max-width: 900px) {
    #legend-container-top {
        bottom: 160px !important;
    }
    .legend-container {
        bottom: 90px !important;
        right: 45px;
        border: none;
        border-radius: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    #controls {
        display: none;
    }
    .legend-box {
        padding-top: 2px !important;
        padding-left: 15px !important; 
        padding-right: 15px !important; 
        width: 145px !important;
    }
    .legend {
        font-size: 0.7rem !important;
        left: 50px !important;
    }
    .legend-node {
        height: 12px !important;
        margin-left: 6px !important;
        margin-right: 4px !important;
    }
    .legend-line-A, .legend-line-B, .legend-line-C {
        margin-right: 4px !important;
    }
    .toggle-container {
        margin: 0 !important;
    }
    .toggle {
        width: 24px !important; 
        height: 12px !important; 
    }
    .toggle-slider::before {
        height: 8px !important;
        width: 8px !important;
        left: 2px !important;
        bottom: 2px !important;
    }
    .toggle-input:checked + .toggle-slider::before {
        transform: translateX(12px) !important;
    }



    #panelContentConnections {
        line-height: 1rem !important;
    }
}
.legend-container-shell {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 45px;
    right: 45px;
    gap: 10px;
    pointer-events: auto;
}
.legend-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    align-items: flex-end; 
    bottom: 45px;
    right: 45px;
    border: 0px solid #01206a;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(223, 228, 232, 0.85);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
#legend-container-top {
    bottom: 145px;
}
.legend-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 200px;
    padding: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    justify-content: space-between;
}
.legend-node {
    height: 18px;
    border-radius: 50%;
    aspect-ratio: 1;
    background-color: #c83662;
    margin-right: 14px;
    margin-left: 4px;
}
.legend-line-A, .legend-line-B, .legend-line-C {
    border-bottom: 3px solid #01206a;
    width: 22px;
    margin-right: 14px;
    margin-left: 2px;
}
.legend-line-B {
    border-bottom: 3px dashed #01206a;
    transform: scaleX(2);
    width: 11px;
    margin-left: 7px;
}
.legend-line-C {
    border-bottom: 3px dashed #01206a;
}
.legend {
    position: absolute;
    left: 60px;
    font-size: 0.9rem;
    font-weight: 600;
    color: #01206a;
    text-align: left;
}


.toggle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: 20px;
}
.toggle {
    position: relative;
    display: inline-block;
    width: 32px; 
    height: 18px; 
}
  /* Hide the default checkbox */
.toggle-input {
    opacity: 0;
    width: 0;
    height: 0;
}
/* Slider (background of the toggle) */
.toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #b0b3b5;/* Default background color */
    border-radius: 25px;
    transition: background-color 0.3s ease;
}
  /* Toggle knob */
.toggle-slider::before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%; 
    transition: transform 0.3s ease;
}

.toggle-input:checked + .toggle-slider {
    background-color: #01206a;
}
.toggle-input:checked + .toggle-slider::before {
    transform: translateX(14px);
}





/* Paragraph styles----------------------------- */
h1 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #01206a;
    padding-top: 20px;
    margin: 0;
    line-height: 1;
    text-align: center;
}
h2 {
    font-size: 1.2rem;
    font-weight: 500;
    color: #01206a;
    margin: 0;
}
h3 {
    color: #01206a;
    font-weight: 400;
    margin: 0;
}
p {
    font-size: 0.9rem;
    font-weight: 500;
    color: #01206a;
    margin: 0;
}
.bio {
    font-size: 0.9rem;
    font-weight: 500;
    color: #01206a;
    margin: 0 auto;
    padding: 20px;
}



/* Search bar----------------------------------------- */
.search-container {
    display: flex;
    align-items: center;
    justify-content: center;

}
#searchBar {
    padding-left: 15px;
    font-size: 0.9rem;
    font-family: Inter, sans-serif;
    border: none;
    color: #01206a;
    background-color: transparent;
    width: 300px;
    outline: none;
}
#searchBar::placeholder {
    color: rgba(1, 32, 106, 0.5);
}
#searchResults {
    padding-left: 15px;
    font-size: 0.9rem;
    font-family: Inter, sans-serif;
    border: none;
    color: #01206a;
    background-color: transparent;
    width: 290px;
    max-height: 100px;
    overflow-y: scroll;
    outline: none;
    transition: max-height 0.3s ease;
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(15px);
    margin-bottom: 30px;
}

button {
    padding: 7px 10px;
    padding-left: 13px;
    padding-bottom: 3px;
    right: 0;
    margin-left: 10px;
    font-size: 1rem;
    background-color: #01206a;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.search-button img {
    height: 15px; 
    padding: 0;
}


.node-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
}
.node-text {
    font-weight: 300;
    overflow-wrap: break-word !important;
    width: 100%;
}
.node-icon {
    width: 12px;
    aspect-ratio: 1;
    padding-right: 6px;
}
.node-row {
    display: flex;
    flex-direction: row;
}
#cardName {
    width: 250px;
    padding-left: 25px;
    padding-right: 25px;
}

.tag-container {
    display: flex; 
    gap: 10px;
    margin-top: 7px;
    margin-bottom: 15px;
}
.tag {
    font-size: 0.75rem;
    font-weight: 600;
    color: #01206a;
    background-color: rgba(189, 205, 212, 0.3);
    border-radius: 15px;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: -5px;
}
.tab-container {
    display: flex; 
    justify-content: space-between
}
.tab {
    font-size: 1rem;
    font-weight: 600;
    color: #01206a;
    cursor: pointer;
    flex: 1;
    text-align: center;
    padding-left: 20px; 
    padding-right: 20px;
}
.tab.active {
    background-color: #01206a; 
}
#tabBio, #tabEvents, #tabConnections {
    background-color: rgba(189, 205, 212, 0.3);
    padding-top: 9px;
    padding-bottom: 9px;
    border-bottom: 1.5px solid #01206a;
}
#tabBio {
    border-top-left-radius: 15px;
    border-right: 1.5px solid #01206a;
}
#tabConnections {
    border-top-right-radius: 15px;
    border-left: 1.5px solid #01206a;
}
#tabBio.active, #tabEvents.active, #tabConnections.active {
    background-color: transparent;
    border-bottom: 0px solid #01206a;
}
#tabBio.active {
    border-right: 1.5px solid #01206a;
}

#tabConnections.active {
    border-left: 1.5px solid #01206a;
}



.infoTitle {
    display: flex; 
    margin: 0 !important;
    padding: 5px;
    padding-left: 30px;
    padding-right: 15px;
    font-size: 0.9rem;
    color: #01206a;
    font-weight: 500;
    margin-bottom: 0.5rem;
    justify-content: space-between;
}
.info-container {
    height: 250px;
    overflow-y: scroll;
    margin-top: 20px;
    margin-right: 25px;
    display: none;
}
.info-container.active {
    display: block;
}
.info-container::-webkit-scrollbar {
    width: 4px; 
}
.info-container::-webkit-scrollbar-track {
    background-color: transparent 
}
.info-container::-webkit-scrollbar-thumb {
    background-color: #01206a; 
    border-radius: 10px; 
    /* border: 2px solid #f1f1f1; */
}
.info-container::-webkit-scrollbar-thumb:hover {
    background-color: #368edd;
}
.panelContent {
    display: flex;
    flex-direction: column;
    background-color: rgba(189, 205, 212, 0.3);
    mix-blend-mode: multiply;
    margin-left: 25px;
    margin-right: 15px;
    margin-bottom: 20px;
    border-radius: 6px;
    position:relative;
    padding: 7px;
    padding-left: 15px;
    gap: 8px;
    transition: max-height 0.3s ease;
    overflow: visible !important;
    overflow-x: hidden !important;
}
.panelContent.hidden {
    max-height: 0; 
    display: none; 
}
#panelContentEvents, #panelContentConnections {
    font-family: Inter, sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: #01206a;
    white-space: nowrap;
    overflow-x: auto;
    scrollbar-width: thin; 
    scrollbar-color: #01206a #f0f0f0;
}
/* WebKit (Chrome, Safari, Edge) Scrollbar */
#panelContentConnections::-webkit-scrollbar {
    height: 6px; 
}
#panelContentConnections::-webkit-scrollbar-track {
    background: #f0f0f0; 
    border-radius: 5px;
}
#panelContentConnections::-webkit-scrollbar-thumb {
    background: #01206a; 
    border-radius: 5px;
}
#panelContentConnections::-webkit-scrollbar-thumb:hover {
    background: #0341a3;
}

#panelContentConnectionsBadges {
    display: flex;
    flex-direction: row;
}
/* General badge styles */
.badge {
    width: 25px;
    aspect-ratio: 1;
    opacity: 0.3;
    position: relative;
}
.badge.active {
    opacity: 1;
}
.tooltip {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    color: #01206a;
    padding: 10px;
    max-width: 300px;
    width: auto; 
    height: auto;
    font-size: 0.9rem;
    font-weight: 500;
    border-radius: 5px;
    white-space: normal; 
    word-wrap: break-word; 
    visibility: hidden;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s;
}
.tooltip-visible {
    visibility: visible;
    opacity: 1;
}






.panelToggle {
    font-weight: 800;
    background-color: rgba(191, 205, 205, 0.3);
    border-radius: 16px;
    height: 1rem;
    width: 0.5rem;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
    padding-top: 0px;
    cursor: pointer;
}


/* Activation page */
#activate-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.activate-title {
    font-size: 2.5rem;
    margin-top: 50px;
}
@media (max-width: 900px) {
    .activate-title {
        font-size: 1.6rem;
        margin-top: 30px;
    }
}
.activate, .activate-border {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 600;
    color: #01206a;
    border: 2px solid #01206a;
    border-radius: 20px;
    width: 40vw;
    max-width: 320px;
    height: 200px;
    background-color: #f1f1f1;
    backdrop-filter: blur(5px);
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* .activate-border {
    pointer-events: none;
} */
.activate:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    background-color: #fff;
}
.activate-text {
    font-size: 2rem;
    font-weight: 800;
    transition: font-size 0.3s ease;
}
.activate:hover .activate-text {
    font-size: 3rem;
}
#activate-text-edit {
    color: #b0b3b5;

}
#captcha-container {
    display: flex;
}
#captcha-verify {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    text-align: center;
    font: Inter, sans-serif;
    font-weight: 700;
    transition: background-color 0.1s ease;
}
#captcha-verify:hover {
    background-color: #368edd;
}
